.row.detail_panel_box{ style:"margin-top: 60px;" }
  .col-xs-12.col-md-4.hidden-xs.hidden-sm{style: "margin-top: 10px; margin-bottom: -5px;"}
    #meeting_titlebar
      .col-xs-12
        - if @meeting.restricted
          %span.icon-lock.large_icon.meeting_restricted_icon{ title: t('tooltips.restricted_meeting_explain'), class: "tipped_right" }
        %h4.meeting_title.margin-left-1{ get_meeting_title_attributes(@meeting, @user) }<="#{h(@meeting.title)}"
        - if @meeting.updatable_by?(@user)
          %i.icon-edit.large_icon{ class: "editableTitle" }

  .col-xs-12.hidden-md.hidden-lg.text-center.margin-top-1{style: "margin-bottom: -10px;"}
    #meeting_titlebar
      .col-xs-12
        %span{style: "display: inline-block;"}
          - if @meeting.restricted
            %span.icon-lock.large_icon.meeting_restricted_icon{ title: t('tooltips.restricted_meeting_explain'), class: "tipped_right" }
          %h4.meeting_title.margin-left-1{ get_meeting_title_attributes(@meeting, @user) }<="#{h(@meeting.title)}"
          - if @meeting.updatable_by?(@user)
            %i.icon-edit.large_icon{ class: "editableTitle" }

  .col-md-8
    -# BUTTONS
    .row.hidden-xs.hidden-sm.margin-top-1.text-right.margin-right-2
      %span
        %a.btn.btn-primary.button_width{ href: "#", "data-target": "#edit_form_modal", "data-toggle": "modal",
                            type: "button" }= t("meetings.detail_panel.new_suggestion")
      %span
        %a.btn.btn-primary.button_width{ href: "#", "data-target": "#invitation_form_modal", "data-toggle": "modal",
                            type: "button" }= t("meetings.buttons.manage_participants")
      %span
        %a.btn.btn-primary.button_width{ href: "#", "data-target": "#send_dates_form_modal", "data-toggle": "modal",
                            type: "button", "style": @meeting.picked_suggestions.empty? ? "display: none" : "" }= t("meetings.buttons.finish_planing")
      %span
        %a.btn.btn-primary.button_width{ href: "#", "data-target": "#send_cancellation_form_modal", "data-toggle": "modal",
                            type: "button", "style": !@meeting.picked_suggestions.empty? ? "display: none" : "" }= t("meetings.buttons.cancel_planning")
