<plist version="1.0">
<dict>
= render :partial => "participants.android_native"
= render :partial => "known_addresses/list.android_native", :locals => { :known_addresses => @user.known_addresses }
</dict>
</plist>
