%div#not_found_wrapper

  %div#not_found_title Aktivierung nicht m&ouml;glich

  %div#not_found_content
    %p Die Adresse konnte nicht aktiviert werden. Dies kann folgende Gr&uuml;nde haben:
    %ul
      %li Es existiert keine Adresse, die mit dem dieser URL aktiviert werden kann,
      %li die Adresse ist bereits aktiviert,
      %li TeaCo enth&auml;lt einen Fehler (sehr unwahrscheinlich ;-) ).

    %p.warning
      Sollten Sie Ihren TeaCo-Link verloren haben, so k&ouml;nnen Sie ihn
      sich durch Angabe Ihrer E-Mail-Addresse auf der
      %a{ :href => root_path } Hauptseite
      erneut zusenden lassen.