= render :partial => "meeting_list.android_native", :locals => { :meetings => @user.meetings }
= render :partial => "alias_addresses.android_native"
= render :partial => "known_addresses.android_native"