/* ---------------- Farben ----------------- */
/*$background: #b4b7b9;*/
/*$background: #dee1e3;*/
/*$background: rgba(66, 22, 0, 0.14);*/ /*Orange Grau*/

//$background: #424242;
$primary-color: #f17705;
$secondary-color: #ff8505;
$tertiary-color: #424242;
$btn-red: #d9534f;
$btn-yellow: #f0ad4e;
$btn-green: #5cb85c;
$btn-blue: #00b9ee;
$light-grey: #f0f0f0;
$background: #DBDBDB;
$info-text: #909090;
$border-color: $background;

/*-- Orange / Grau / Braungrau --
$background: #EDEDE4;
$primary-color: #C8C1B2;
$secondary-color: #554E44;
$tertiary-color: #F74906;
*/