<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>Last_Update_Plain</key>
= '<string>', @meeting.updated_at, '</string>'
= render :file => "meetings/show.iphone_native"
</dict>
</plist>